
<form [formGroup]="formInicio">

  <div class="row container">
    <div class="col-3">
      <h5>Elija el Centro de Salud</h5>
    </div>
    <div class="col-4">
      <select class="form-select"
              formControlName="cod_unico">
        <option *ngFor="let centro of centrosDeSalud" [value]="centro.cod_unico">
          {{centro.establecimiento}}
        </option>
      </select>
    </div>
  </div>
  <div class="row container">
    <div class="col-3">
      <h5>Fecha de Vacunación</h5>
    </div>
    <div class="col-4">
      <select class="form-select">
        <option selected>Seleccione el EE.SS</option>
        <option value="1">One</option>
      </select>
    </div>
  </div>

</form>

<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Buscar paciente">
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast">
  <div class="col-12">
      <div class="alert alert-info text-center">
        <h4 class="alert-heading">Cargando</h4>
        <i class="fa fa-spin fa-refresh fa-2x"></i>
        <p class="mb-0">Por favor espere</p>
      </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">TIPO DCMTO</th>
      <th scope="col">NUMERO DCMTO</th>
      <th scope="col">FEC. DE NAC.</th>
      <th scope="col">NOMBRES Y APELLIDOS</th>
      <th scope="col">FEC. DE VAC.</th>
      <th scope="col">VACUNA</th>
      <th scope="col">DOSIS</th>
      <th scope="col">VACUNADOR</th>
      <th scope="col">EE.SS.</th>
      <th scope="col">LUGAR VACUNACIÓN</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vacunado of vacunados">
      <th scope="row"> {{ vacunado.abrev_tipo_doc }} </th>
      <td> {{ vacunado.num_doc }} </td>
      <td> {{vacunado.fecha_nacimiento}} </td>
      <td> {{vacunado.paciente}} </td>
      <td> {{vacunado.fecha_vacunacion}} </td>
      <td> {{vacunado.Fabricante_Abrev}} </td>
      <td> {{vacunado.dosis_aplicada}} </td>
      <td> {{vacunado.vacunador}} </td>
      <td> {{vacunado.establecimiento}} </td>
      <td> {{vacunado.NOMBRE_CENTRO_VACUNACION || 'No se Especifica'}} </td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
