<h3 class="title__inicio">Relación de Vacunados Ris Huaycan 2021-2022</h3>

<form [formGroup]="formInicio">

  <div class="row container">
    <div class="col-3">
      <h5>Elija el Centro de Salud</h5>
    </div>
    <div class="col-4">
      <select class="form-select"
              formControlName="cod_unico">
        <option *ngFor="let centro of centrosDeSalud" [value]="centro.cod_unico">
          {{centro.establecimiento}}
        </option>
      </select>
    </div>
  </div>
  <div class="row container">
    <div class="col-3">
      <h5>Fecha de Vacunación</h5>
    </div>
    <div class="col-4">
      <select class="form-select">
        <option selected>Seleccione el EE.SS</option>
        <option value="1">One</option>
      </select>
    </div>
  </div>

</form>
<div class="row class title__table">
  <div class="col">
    <h5>Listado de Vacunados contra la Covid-19</h5>
  </div>
</div>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">TIPO DCMTO</th>
      <th scope="col">NUMERO DCMTO</th>
      <th scope="col">FEC. DE NAC.</th>
      <th scope="col">NOMBRES Y APELLIDOS</th>
      <th scope="col">FEC. DE VAC.</th>
      <th scope="col">VACUNA</th>
      <th scope="col">DOSIS</th>
      <th scope="col">VACUNADOR</th>
      <th scope="col">EE.SS.</th>
      <th scope="col">LUGAR VACUNACIÓN</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vacunado of vacunados">
      <th scope="row"> {{ vacunado.abrev_tipo_doc }} </th>
      <td> {{ vacunado.num_doc }} </td>
      <td> {{vacunado.fecha_nacimiento}} </td>
      <td> {{vacunado.paciente}} </td>
      <td> {{vacunado.fecha_vacunacion}} </td>
      <td> {{vacunado.Fabricante_Abrev}} </td>
      <td> {{vacunado.dosis_aplicada}} </td>
      <td> {{vacunado.vacunador}} </td>
      <td> {{vacunado.establecimiento}} </td>
      <td> {{vacunado.NOMBRE_CENTRO_VACUNACION || 'No se Especifica'}} </td>
    </tr>
  </tbody>
</table>
